.about{
    padding-top: 40px;

    &__image{
        margin-bottom: 1.5rem;
    }

    &__heading{
        margin-bottom: 25px;
    }

    p{
        line-height: 28px;
        margin-bottom: 25px;

        @media(max-width:576px){
            line-height: 24px;
            margin-bottom: 15px;
        }

        @media(max-width:460px){
          
            .about{
                &__img{
                    width: 252px;
                    margin-left: 39px;
                }
                &__heading{
                    p{
                        font-size: 12px;
                    }
                    h2{
                        font-size: 32px;
                        text-align: center;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}