.details{

    .container{
        max-width: 1140px !important;
        @media (max-width: 991px){
            max-width: 720px !important;
        }
        @media (max-width: 767px){
            max-width: 540px !important;
        }

        .detail-main{
            padding: 100px 0;

            .detail-images{
                // overflow: hidden;

                .imgBox{
                    margin: 0;
                    padding: 0;
                    width: 540px;
                    height: 600px;
                    margin-right: 0px;
                    display: block;
                    img{
                        width: 500px;
                    }
                    @media(max-width: 1199px){
                        width: 450px;
                        height: 498px;
                    }
                    @media(max-width: 991px){
                        width: 330px;
                        height: 365px;
                    }
                    @media(max-width: 767px){
                        width: 100%;
                        height: 100%;
                    }

                    .nested-image-box{
                        padding: 8px;
                        border: 1px solid #ddd;

                        img{
                            width: 100%;
                            height: 100%;
                            // padding: 8px;
                            // border: 1px solid #ddd;
                            // margin-bottom: 10px;
                            overflow: hidden;
                            position: relative;
                            max-width: 100%;
                            vertical-align: middle;
                            cursor: crosshair;
                            box-sizing: border-box;
    
                           
                        }
                    }
                    
                   
                }
                .mini-image-box-control{
                    margin-top: 2px;
                    display: flex;
                    position: relative;
                    width: 540px;
                    @media(max-width: 1199px){
                        width: 450px;
                    }
                    @media(max-width: 991px){
                        width: 330px;
                    }
                    @media(max-width: 767px){
                        width: 100%;
                    }
                    ul{
                        margin: 0;
                        padding: 0;

                        li{
                            display: block;
                            // width: 130px;
                            width: auto;
                            height: auto;
                            border: 1px solid #ddd;
                            box-sizing: border-box;
                            padding: 5px;
                            overflow: hidden;

                            @media(max-width: 1199px){
                                width: 111px;
                                height: auto;
                            }
                            @media(max-width: 991px){
                                // width: 81px;
                                width: 111px;
                                height: auto;
                            }
                            @media(max-width: 767px){
                                width: 100%;
                                height: auto;
                            }

                            img{
                                width: 100%;
                                height: auto;
                                vertical-align: middle;
                                cursor: pointer;
                                object-fit: contain;
                                
                            }
                        }
                    }
                    button{
                        position: absolute;
                        display: block;
                        z-index: 2;
                    }
                    #detail-prev{
                        top: 50%;
                        left: -10%;
                        transform: translateY(-50%);
                        height: 50px;
                        width: 40px;
                    
                        background-color: #fff;
                        z-index: 9;
                        transition: all 0.5s ease-in-out;
                        border-radius: 0 5px 5px 0;
                        outline: none;
                        border: none;
                        opacity: 0;
                        @media(max-width: 610px){
                            left: 0;
                        }

                        &:hover{
                            background-color: $mainColor;
                            color: #fff;
                        }
                        &:active{
                            transform: scale(.9);
                        }
                    }
                    #detail-next{
                        top: 50%;
                        right: -9%;
                        transform: translateY(-50%);
                        height: 50px;
                        width: 40px;
                     
                        background-color: #fff;
                        z-index: 9;
                        transition: all 0.5s ease-in-out;
                        border-radius: 5px 0 0 5px;
                        outline: none;
                        border: none;
                        opacity: 0;
                        @media(max-width: 610px){
                            right: 0;
                        }

                        &:hover{
                            background-color: $mainColor;
                            color: #fff;
                        }
                        &:active{
                            transform: scale(.9);
                        }
                    }

                    &:hover{
                        #detail-prev{
                            left: 0;
                            opacity: 1;
                        }
                        #detail-next{
                            right: 1%;
                            opacity: 1;
                        }
                    }
                }
               
                
            }

            .detail-content{

                h1{
                    font-size: 1.5rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-transform: capitalize;
                    color: #292b2c;
                    font-family: 'Roboto';
                    margin-bottom: .5rem;
                    font-weight: 500;
                    line-height: 1.2;
                }

                .price-and-review{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    .price{
                        
                        .old-price{
                            text-decoration: line-through;
                            font-family: 'Poppins', sans-serif;
                            font-size: 14px;
                            color: #687188;
                            font-weight: 400;
                            line-height: 26px;
                        }
                        .new-price{
                            font-size: 26px;
                            color: $mainColor;
                            font-weight: 600;
                            line-height: 26px;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                    .rating-box{
                        display: flex;
                        line-height: 27px;
                        height: 20px;
                        .stars{
                            overflow: hidden;
                            position: relative;
                            font-size: 12px;
                            font-family: "Font Awesome 5 Free";
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            color: #F6BC3E;
                        }
                    }
                }
                .product-info{
                    p{
                        margin-bottom: 20px;
                        line-height: 26px;
                        color: #646a7c;
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;

                    }
                }
                .product-sort-info{

                    ul{
                        padding: 0;
                        margin: 0;
                        li{
                            padding-bottom: 10px;
                            font-family: 'Poppins', sans-serif;
                            i{
                                color: $mainColor;
                                font-size: 16px;
                                line-height: 1;
                                
                            }
                            span{
                                font-size: 14px;
                                color: #292B2C;
                                list-style: none;
                                padding-left: 5px;
                            }

                        }
                        
                    }
                    
                }
                .event-box{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 15px;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-top: 1px solid rgba(0,0,0,.1);
                    border-bottom: 1px solid rgba(0,0,0,.1);
        
                    .spinner{
                        display: flex;
                        flex-direction: row;
                        align-content: center;
                        align-items: center;
        
                        .spinner-prev,
                        .spinner-next{
                            background-color: #eee;
                            display: block;
                            border-radius: 50px;
                            cursor: pointer;
                            border: 0;
                            padding: 0;
                            width: 34px;
                            height: 34px;
                            line-height: 36px;
                            text-align: center;
        
                        }
        
                        .number-spinner{
                            margin: 0 7px;
                            display: block;
                            width: 60px;
                            height: 36px;
                            border: 1px solid #ddd;
                            background-color: transparent;
                            text-align: center;
                            color: #000;
                            box-shadow: none;
                            padding: 8px 15px;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            background-color: #fff;
                            background-clip: padding-box;
                            border-radius: .25rem;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        }
                    }
                    .add-to-cart{
                        margin-left: 10px; overflow: hidden;
                        button{
                            width: 141px;
                            height: 44px;
                            border: none;
                            background: black;
                            color: white;
                            transition: .3s linear;
                            border-radius: 5px;
                            transform: scale(1);
                           
                            &:hover{
                                background-color: $mainColor;
                                color: white;
                                transform: scale(1.2);
                            }
                        }

                    }
                    .add-wishlist{
                        margin-left: 10px;
                        a{
                            color: #292b2c9e;
                            &:hover{
                                color: $mainColor;

                            }
                        }
                    }
                }
                .color-box{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    h3{
                        font-family: "Poppins", sans-serif;
                        font-size: 16px;
                        color: #292B2C;
                        list-style: none;
                        font-weight: 400;
                    }
                    .detail-prd-color{
                        display: flex;
                        span{
                            cursor: pointer;
                            display: inline-block;
                            height: 25px;
                            width: 25px;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: row;
                            align-content: center;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 0px 2px 0px black;

                            i{
                                color: white;
                                opacity: 0;
                            }
                           
                        }
                        
                    }
                }
                .size-box{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgba(0,0,0,.1);
                    h4{
                        font-family: "Poppins", sans-serif;
                        font-size: 16px;
                        color: #292B2C;
                        list-style: none;
                        font-weight: 400;
                    }
                    .detail-prd-size{
                        ul{
                            display: flex;
                            margin: 0;
                            padding: 0;

                            li{
                                font-family: "Poppins", sans-serif;
                                border: 1px $mainColor;
                                width: 30px;
                                text-transform: uppercase;
                                text-align: center;
                                border-style: double;
                                margin: 2px;
                                font-size: 14px;
                                font-weight: 500;
                                color: #292B2C;
                                list-style: none;
                                cursor: pointer;
                                transition: all 0.4s ease-in-out;

                                &:hover{
                                    background-color: $mainColor;
                                    color: white;
                                }
                                &.active{
                                    background-color: $mainColor;
                                    color: white;
                                }
                            }
                        }
                    }

                }
                .additional-info{
                    margin-top: 20px;
                    p{
                        font-family: 'Poppins', sans-serif;
                        display: block;
                        margin-top: 10px;
                        text-transform: uppercase;
                        color: #646a7c;
                        font-size: 14px;

                    }
                    strong{
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.5;
                        text-transform: initial;
                        color: #292b2c;
                        text-decoration: none;

                    }
                }
                .share-product{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    span{
                        font-family: 'Poppins', sans-serif;
                        display: block;
                        color: #646a7c;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-content: center;
                        flex-wrap: nowrap;
                        align-items: center;
                        li{
                            display: block;
                            a{
                                font-size: 18px;
                                color: #687188;
                                height: 36px;
                                width: 36px;
                                line-height: 36px;
                                display: inline-block;
                                text-align: center;
                                vertical-align: middle;
                                overflow: hidden;

                                &.facebook-btn:hover{
                                    color: #1877f2;
                                }
                                &.twitter-btn:hover{
                                    color: #1da1f2;
                                }
                                &.pinterest-btn:hover{
                                    color: $mainColor;
                                }
                                &.linkedin-btn:hover{
                                    color: #0077b5;
                                }
                                &.tumblr-btn:hover{
                                    color: #35465c;
                                }
                            }

                        }
                    }

                }
            }
        }
        .helper{

            .tabs{
                ul{
                    padding: 0;
                    margin: 0;
                    border-bottom: 1px solid #dee2e6;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    li{
                        list-style: none;
                        button{
                            font-family: 'Poppins', sans-serif;
                            background-color: transparent;
                            display: block;
                            padding: .5rem 1rem;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 2px solid rgba(0,0,0,0);
                            text-align: center;
                            text-transform: uppercase;
                            color: #292b2c;
                            text-decoration: none;
                            font-weight: 500;
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                            font-size: 14px;

                            &:hover{
                                color: $mainColor;
                            }
                            &.active{
                                color: $mainColor;
                                border-bottom: 2px solid $mainColor;

                            }
                        }
                    }
                }

            }
            .interactive-content{

                .description{
                    margin-top: 40px;
                    margin-bottom: 40px;
                    // margin-bottom: 25px;
                    p{
                        font-family: 'Poppins', sans-serif;
                        line-height: 26px;
                        color: #646a7c;
                        font-size: 14px;
                        font-weight: 400;
                    }

                }
                .reviews{
                    margin-top: 40px;
                    margin-bottom: 40px;
                    ol{
                        padding: 0;
                        margin: 0;
                        li{
                            
                            .comment-item{
                                margin-bottom: 20px;
                                border-bottom: 1px solid #ddd;
                                padding-bottom: 20px;
                                padding-right: 15px;
                                padding-left: 15px;

                                .commenter-image{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    align-content: flex-start;
                                    justify-content: flex-end;
                                    img{
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 51%;
                                    }
                                }
                                .comment-header{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    align-content: center;
                                    justify-content: space-between;

                                    .commenter-name{
                                        font-family: 'Poppins', sans-serif;
                                        color: #292b2c;
                                        font-weight: 500;
                                        font-size: 14px;
                                    }
        
                                    .rating-box-and-date{
                                        display: flex;
                                        .stars{
                                            padding-right: 15px;
                                            padding-top: 2.2px;
                                            overflow: hidden;
                                            position: relative;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-variant: normal;
                                            text-transform: none;
                                            color: #F6BC3E;
                                        }

                                    }
                                }
                            }
                        }
                    }

                }
                .write-comment{
                    margin-top: 40px;
               
                    padding: 45px;
                    margin-bottom: 10px;

                    h5{
                        padding: 0;
                        margin: 0;
                        font-size: 1.25rem;
                        color: #292b2c;
                        font-family: 'Roboto';
                        font-weight: 500;
                        line-height: 1.2;
                        // margin-bottom: .5rem;
                    }
                    p{
                        font-family: 'Poppins', sans-serif;
                        line-height: 26px;
                        color: #646a7c;
                        font-size: 14px;
                        margin-bottom: 1rem;

                    }
                    .comment-review-rating{
                        margin-bottom: 1rem;
                        strong{
                            font-family: 'Poppins', sans-serif;
                            margin-bottom: 3px;
                            color: #6c757d;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.5;
                        }
                        .comment-stars{
                            cursor: pointer;

                            span{
                                cursor: pointer;
                                i{
                                    color: #F6BC3E;
                                }
                            }
                            
                        }
                    }

                    form{
                        label{
                            font-family: 'Poppins', sans-serif;
                            line-height: 26px;
                            color: #6c757d;
                            font-size: 14px;
                            font-weight: 400;
                            margin-bottom: 3px;
                        }
                        textarea{
                            height: 122px;
                            padding: 12px 15px;
                            color: #000;
                            box-shadow: none;
                            display: block;
                            width: 100%;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #ced4da;
                            border-radius: .25rem;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            overflow: auto;
                            resize: vertical;
                        }
                        #name,
                        #email{
                            color: #000;
                            box-shadow: none;
                            height: 50px;
                            padding: 8px 15px;
                            display: block;
                            width: 100%;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            background-color: #fff;
                            background-clip: padding-box;
                            border: 1px solid #ced4da;
                            border-radius: .25rem;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            overflow: visible;
                        }
                        .form-group {
                            button{
                                height: 47px;
                            }
                        }
                    }
                }
            }
        }
    }


.img-magnifier-container {
    position:relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
    z-index: 555;
    width: 100px;
    height: 100px;
    
  }

}