.login {
    .col-xl-6 {
        box-shadow: 0px 0px 8px 1px grey;
        height: 600px;
    }
    .heading_s1 {
        padding: 30px;
        h3 {
            color: black;
            span {
                color: $mainColor;
                font-size: 34px;
                font-weight: 900;
            }
        }
    }
    form {
        .form-group {
            .form-control {
                padding: 12px;
                margin-bottom: 36px;
                display: inline-block;
                &::placeholder {
                    color: $mainColor;
                }
                &:focus::placeholder {
                    color: gray;
                }
            }
        }
    }
    .login_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chek-form{
          .custome-checkbox{
              margin-left: 30px;
              margin-bottom: 7px;
          }
        }
        a {
            text-decoration: none;
            color: black;
            margin-right: 13px;
            font-size: 15px;
            transition: .3s linear;
            &:hover{
                color: $mainColor;
            }
        }
    }
}
