#mainProduct{
    overflow-x: hidden;
    padding-top: 120px;
    padding-bottom: 60px;
    // margin-left: 45px;
    // margin-right: 45px;
    .sliders4{   
         margin-right: 60px;
        margin-left: 60px;
        padding-top: 30px;
        position: relative;
        .left{
            position: absolute;
            position: absolute;
            top: 42%;
            left: -34px;
            width: 28px;
            height: 28px;
            border: 1px solid black;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 50%;
            cursor: pointer;
            transform: scale(1);
            transition: .3s ease;
            &:hover{
                background-color: $mainColor;
                transform: scale(1.07);
                border: none;
                color: white;
            }
        }
        .right{
            cursor: pointer;
            position: absolute;
            top: 42%;
            right: -33px;
            width: 28px;
            height: 28px;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 58%;
            transition: .3s linear;
            transform: scale(1);
            overflow: hidden;
            &:hover{
                background-color: $mainColor;
                transform: scale(1.07);
                border: none;
                color: white;
            }
        }

    }
}