.head {
    padding-top: 12px;
    p {
        font-size: 13px;
        color: rgb(70, 70, 70);
    }
    .download {
        display: flex;
        p {
            font-size: 13px;
            color: rgb(70, 70, 70);
            margin-right: 11px;
        }
        a {
            text-decoration: none;
            color: darkgrey;
            i {
                margin-right: 11px;
            }
        }
    }
    .lng_dropdown:first-child {
        font-size: 13px;
    }
    .lng_dropdown {
        select {
            outline: none;
        }
    }
    .custome_select {
        margin-right: 5px;
        border: none;
        &:focus {
            box-shadow: none;
        }
    }
}

.search {
    padding-top: 35px;

    .navbar-brand {
        display: inline-block;
        img {
            max-width: 100% !important;
        }
    }
    .first_null {
        padding: 14px;
        font-size: 13px;
    }

    input {
        &:focus {
            box-shadow: none;
        }
    }
    button {
        border: none;
        i {
            background: transparent;
            padding: 16px;
        }
    }
    .phone {
        .contact_phone {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i {
            color: #ad4343;
            font-size: 30px;
            margin-right: 5px;
        }
    }
}

nav {
    padding-top: 20px;
    ul {
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: $background;
                font-size: 14px;
                font-weight: 400;
                img {
                    width: 20px;
                }
            }
        }
    }
    .black {
        width: 100%;
        height: 60px;
        background-color: #1d2224 !important;
       
        .HomeList {
            padding-top: 16px;
            display: flex;
            justify-content: space-around;
            li {
                a {
                    font-size: 17px;
                    font-weight: 300;
                    text-decoration: none;
                    color: white;
                    transition: 0.2s linear;
                    &:hover {
                        color: $mainColor;
                    }
                }
            }
        }
        .Category {
            position: relative;
        }
     

        button {
            width: 307px;
            height: 61px;
            border: 1px solid $mainColor;
            background: $mainColor;
            border-radius: 5px;
            a {
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: white;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;
                i {
                    font-size: 30px;
                    margin-right: 12px;
                }
            }
        }
    }
}

main {
    .container {
        .row {
            .CategoryItem {
                height: 612px;
                box-shadow: 0px 0px 3px 0px grey;
                border-radius: 4px;

                padding: 0;
                overflow-y: hidden;
                margin-top: -7px;
                .plus {
                    color: $mainColor;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin-left: -23px;
                    i {
                        font-weight: 400;
                    }
                }
                li {
                    align-items: center;
                    display: flex;
                    justify-content: space-around;
                    padding: 1px 0px 0px 0px;
                    img {
                        width: 20px;
                        width: 26px;
                        margin-left: 14px;
                    }
                    a {
                        display: flex;
                        justify-content: space-between;
                        width: 259px;
                        align-items: center;
                        padding: 10px;
                        transition: 0.3s linear;
                        text-decoration: none;
                        color: black;

                        i {
                            font-size: 17px;
                            margin-right: 14px;
                        }
                        &:hover {
                            color: $mainColor;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
}
@media  (max-width: 1099px) {
    nav .black button {
        width: 216px;
    }
}
@media  (max-width: 990px) {
    nav .black .Category {
      width: 190px;
    }
}
@media  (max-width: 1496px) {
    nav .black #menus {
    display: none;
    }
}
@media  (max-width: 610px) {
    nav .black #menus {
    display: block;
    width: 100px;
    button{
        
        i{
            color:white;
            font-size: 36px;
        }
    }
    }
}

@media  (max-width: 700px) {
    nav .black .Category {
      display: none;
    }
}
@media  (max-width: 999px) {
    .CategoryItem {
        display: none;
    }
    main {
        .col-lg-9 {
            width: 100%;
        }
       
    }
    .black {
        position: relative;
        .bottom_header .container .bot_nav {
            top: -62px;
            position: absolute;
        }
        .bottom_header .container .bot_nav .bot_second .menu_nav .menu_nav-item{
            margin-right: 12px;
        }
        
    }
}
@media (max-width: 768px){
    main{
        .Category{
            opacity: 0;
            }
    }
}
@media(max-width:768px){
    .black{
        .col-lg-9{
            display: none;
        }
    }
}

