.service{
    padding-top: 40px;
.info{
    .info-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin:  0 auto;
        border: 1px solid rgb(75, 74, 74);
        border-radius: 50%;
        img{
            width: 40px;
            object-fit: cover;
         
        object-fit: cover;
        }
    }
    .info-content{
        h6{
            display: flex;
            justify-content: center;
            align-items: center;    margin-top: 11px;
        }
        p{
            color: gray;
            display: flex;
            justify-content: center;
            align-items: center; 
            text-align: center;
            
            padding: 15px 88px; 
        }
    }
    &:hover{

    }
}
}