@import "./Partial/Varaible";
@import "./Componets/Navbar";
@import "./Componets/Loader";
@import "./Componets/Subscribe";
@import "./Componets/header";
@import "./Componets/Banner";
@import './Componets/sales';
@import './Componets/footer';
@import './Componets/subscribeFooter';
@import './Componets/pattern';
@import './Componets/FeaturedProducts';
@import "./Componets/slider";
@import "./Componets/Product";
@import "./Componets/_addCart";
@import './Componets/mainProduct';
@import './Componets/counter';
@import './Componets/Product';
@import './Componets/breadCrumb';
@import './Componets/details';
@import './Componets/detailsNav';
@import './Componets/Login';
@import './Componets/signup';
@import './Componets/contactUs';


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
}

#back-to-top {
    background-color: #171717;
    bottom: 20px;
    color: #fff;
    display: none;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}
#back-to-top a {
    color: inherit;
}
