#newCollection {
    padding-top: 80px;
    .banner {
        position: relative;
        .singleBanner {
            overflow: hidden;
            img {
                transition: 0.4s linear;
                object-fit: cover;
                animation: Zoomin 7s linear infinite;
            }
        }
        .bannerInfo {
            position: absolute;
            top: 130px;
            left: 50%;
        }
        &:hover img {
            transform: scale(1.06);
        }
    }
    .banner2 {
        position: relative;
        overflow: hidden;
        .Info {
            position: absolute;
            top: 34%;
            left: 54%;
        }
        img {
            transition: 0.4s linear;
            object-fit: cover;
            animation: ZoominOut 7s linear infinite;
        }
    }
}

@keyframes Zoomin {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes ZoominOut {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 400px) {
    #newCollection {
        .banner {
            .bannerInfo {
                top: 65px;
                position: absolute;
                left: 188px;
                h3 {
                    font-size: 11px;
                }
                h3 {
                    font-size: 15px;
                }
                span {
                    font-size: 11px;
                }
            }
            .banner2{
                .Info{
                    h1{
                        font-size: 14sspx;
                    }
                    h3{
                        font-size: 13px;
                    }
                    span{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
