
.checkout {
    padding-bottom: 100px;

    @media (max-width: 1200px) {
        padding-bottom: 80px 0;
    }

    @media (max-width: 767px) {
        padding-bottom: 50px 0;
    }

    @media (max-width: 575px) {
        padding-bottom: 30px 0;
    }

    h6 {
        font-weight: 700;
        text-transform: capitalize;
        color: #292b2c;
        margin-bottom: 1rem;
    }

    &__btn {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        background: transparent;
        overflow: hidden;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;
        z-index: 0;
        cursor: pointer;
        border: 1px solid #333;
        color: $whiteColor;
        padding: 12px 35px;
        border-radius: 0.25rem;
        margin-bottom: 1rem;

        &::after {
            background-color: #333;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.3s ease-in-out;
            width: 51%;
            left: 0;
        }

        &::before {
            background-color: #333;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.3s ease-in-out;
            width: 51%;
            right: 0;
        }

        &:hover {
            color: #333;

            &::after,
            &::before {
                width: 0;
            }
        }
    }

    &__border {
        padding: 1rem;
        border: 1px solid #dee2e6;

        td {
            text-transform: capitalize;
            color: #292b2c;
        }

        &-btn {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            background: transparent;
            overflow: hidden;
            text-align: center;
            text-transform: capitalize;
            transition: all 0.3s ease 0s;
            z-index: 0;
            cursor: pointer;
            border: 1px solid $mainColor;
            color: $whiteColor;
            padding: 12px 35px;
            border-radius: 0.25rem;
            margin-bottom: 1rem;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: -1;
                transition: all 0.3s ease-in-out;
                width: 51%;
                left: 0;
                background-color: $mainColor;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: -1;
                transition: all 0.3s ease-in-out;
                width: 51%;
                right: 0;
                background-color: $mainColor;
            }

            &:hover {
                color: $mainColor;

                &::after,
                &::before {
                    width: 0;
                }
            }
        }
    }
    .select{
        padding: 11px;
    width: 100%;
    margin-bottom: 42px;
    }
    .col-lg-6{
        input{
            padding: 8px;
            margin-bottom: 30px;
        }
    }
}
