.subscribe{
    padding-top: 60px;
    .subs-cont{
        background-color: #ff324d;
        
        .nested-cont{
            max-width: 1140px;

            .row{
                padding: 50px 0;
                display: flex;
                @media(max-width: 872px){
                    justify-content: space-around;
                }
                
    
                .subs-text{
                    h1{
                        font-weight: 700;
                        margin: 0;
                        text-transform: capitalize;
                        color: #fff;
                        font-family: 'Roboto';
                        font-size: 1.75rem;
                        line-height: 1.2;
                        // text-align: center;
                    }
                }
                .subs-form-box{
                    color: #646a7c;
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: left;

                    .form-control{
                        color: #000;
                        height: 50px;
                        width: 100%;
                        padding: 8px 15px;
                        display: block;
                        width: 100%;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        background-color: #fff;
                        background-clip: padding-box;
                        // border: 1px solid #ced4da;
                        border: none;
                        border-radius: 0;
                        box-shadow: none;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

                        &:focus{
                            box-shadow: none;
                            height: 50px;
                            color: #495057;
                            background-color: #fff;
                            outline: 0;

                        }
                    }
                    .form-button{
                        width: 116px;
                        display: inline-block;
                        color: #fff;
                        background-color: #343a40;
                        border: 0;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        line-height: normal;
                        padding: 12px 0;
                        text-transform: capitalize;
                        transition: all 0.3s ease-in-out;
                        font-weight: 400;
                        font-size: 1rem;
                        text-align: center;
                        vertical-align: middle;

                        &:active{
                            transform: scale(1.1);
                        }

                        &:hover{
                            color: #ff324d;
                        }
                    }
                }
            }

        }

       
    }
}